.tabs {
  display: flex;
  width: 100%;
  border-bottom: 1px solid $gray-20;
}

.tab {
  margin-left: 20px;
  border-bottom: 2px solid transparent;
  cursor: pointer;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    border-bottom-color: $gray-20;
  }

  &.active {
    border-bottom-color: $gray-80;
    cursor: default;
  }
}
