.tabs {
  display: flex;
  width: 100%;
  border-bottom: 1px solid $bg-70;
}

.tab {
  margin-left: 20px;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
  cursor: pointer;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    border-bottom-color: $bg-60;
  }

  &.active {
    border-bottom-color: $gray-80;
    cursor: default;
  }
}
