.content {
  display: grid;
  grid-gap: 56px;
  grid-template-columns: auto 460px;
}


.share {
  display: flex;
  margin: 0 -2px;
}

.shareItem {
  position: relative;
  height: 10px;
  margin-left: 2px;
  border-radius: 100px;
}


.items {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.item {
  display: flex;
  align-items: center;
  margin-top: 10px;

  &:first-child {
    margin-top: 0;
  }
}

.square {
  width: 20px;
  height: 20px;
  margin-right: 12px;
  border-radius: 100px;
}
