.root {
  position: relative;
}

.input {
  width: 100%;
  padding: 0 16px;
  box-shadow: none;
  color: $gray-90;
  background-color: $gray-5;
  border: 1px solid $gray-40;
  @include basic-transition();

  @include placeholder {
    color: $gray-60;
  }

  &:hover,
  &:focus {
    border-color: $gray-60;
  }

  &.errored {
    border-color: $accent-red-90 !important;
  }

  &.disabled {
    color: $gray-20;

    @include placeholder {
      color: $gray-20;
    }
  }

  .size-36 & {
    height: 36px;
    font-size: 14px;
  }

  .size-44 & {
    height: 44px;
    font-size: 16px;
  }

  .size-56 & {
    height: 56px;
    font-size: 18px;
  }
}
