.chip {
  height: 24px;
  padding: 0 8px;
  color: $gray-60;
  font-weight: 600;
  font-size: 12px;
  background-color: $gray-5;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(152, 164, 179, 0.1);

  &:not(.disabled) {

    &:hover {
      color: $brand-50;
    }

    &.active {
      color: $gray-5;
      background-color: $brand-70;
      cursor: default;
      box-shadow: none;

      &.canBeUnselected {
        cursor: pointer;
      }
    }
  }
}
