.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #112637;
  cursor: pointer;
  @include basic-transition(all);

  svg {
    visibility: hidden;
  }

  :not(.disabled) {

    &:hover,
    :global(.group) & {
      background-color: #142e42;
    }
  }

  &.active {
    background-color: #0d1d2a;

    svg {
      visibility: visible;
    }
  }

  &.disabled {
    cursor: not-allowed;
  }
}


@include mobile {

  .icon {
    width: safe(20);
    height: safe(20);
  }
}

@include desktop {

  .icon {
    width: 20px;
    height: 20px;
  }
}
