.notifications {
  position: fixed;
  z-index: $layer-modal + 1;
  margin-top: -16rem;
}


@include mobile {

  .notifications {
    right: 16rem;
    bottom: 16rem;
    left: 16rem;
  }
}

@include desktop {

  .notifications {
    bottom: 24rem;
    left: 24rem;
  }
}
