.notifications {
  position: fixed;
  z-index: $layer-modal + 1;
  margin-top: -16px;
}


@include mobile {

  .notifications {
    right: 16px;
    bottom: 16px;
    left: 16px;
  }
}

@include desktop {

  .notifications {
    bottom: 24px;
    left: 24px;
  }
}
