.notification {
  position: relative;
  z-index: 2;
  margin-top: 16px;
  padding: 16px 32px 16px 16px;
  color: #fff;
  background-color: #191339;
  border: 1px solid #352596;
  border-radius: 8px;
  animation: openNotification 0.3s ease-in-out;

  &.closed {
    z-index: 1;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
}

.closeButton {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 3;
  color: $gray-20;
  cursor: pointer;

  &:hover {
    color: $gray-40;
  }
}


@include mobile {

  .notification {
    width: 100%;
  }
}

@include desktop {

  .notification {
    min-width: 320px;
    max-width: 400px;
  }
}

@keyframes openNotification {
  from {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
