.track {

}

.segments {
  height: 80px;
}

.segment {
  position: relative;
  height: 100%;
  padding: 0 8px;
}

.segmentBg {
  height: 100%;
  border-radius: 8px;
}

.segmentValue {
  position: absolute;
  bottom: calc(100% + 4px);
  left: 50%;
  transform: translateX(-50%);
}

.handle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13px;
  height: 20px;
  border-radius: 3px;
  cursor: move;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &::before {
    display: block;
    width: 5px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    height: 100%;
    content: '';
  }
}


.items {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.item {
  display: flex;
  align-items: center;
  margin-top: 10px;

  &:first-child {
    margin-top: 0;
  }
}

.square {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.title {
  width: 250px;
}


.totalAPR {
  display: flex;
  align-items: center;
  height: 44px;
  padding: 0 20px;
  font-weight: 700;
  font-size: 15px;
  background-color: $gray-10;
}
