.items {
  align-self: center;
  display: grid;
  grid-gap: 56px;
  grid-template-columns: repeat(3, 1fr);
  max-width: 900px;
  margin: 0 auto;
}

.item {
  text-align: center;
}

.image {
  border: 4px solid $gray-10;
  overflow: hidden;
  border-radius: 50%;

  img {
    display: block;
    width: 100%;
  }
}

.name {
  margin-top: 20px;
  font-weight: 700;
  font-size: 28px;
}

.role {
  margin-top: 4px;
  font-weight: 400;
  font-size: 20px;
  color: $gray-20;
}

.link {
  display: block;
  margin-top: 16px;
  font-weight: 400;
  font-size: 20px;
  @include basic-transition();

  &:any-link {
    color: $brand-90;
  }

  &:hover {
    color: $brand-60;
  }
}
