.table {
  margin: 0 -20px;

  td {

    &:last-child {
      width: 1%;
    }
  }
}

.tag {
  display: block;
  margin-left: 6px;
  padding: 2px 12px;
  font-weight: 700;
  font-size: 14px;
  background-color: #271863;
  border-radius: 100px;

  &:first-child {
    margin-left: 0;
  }
}
