.items {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(3, 1fr);
}

.item {
  display: flex !important;
  justify-content: flex-start !important;
  width: 100% !important;

  &.selected {
    background-color: #eee;
  }
}
