$brand-90: #ff1bc8;
$brand-80: #ff00c3;
$brand-70: #ff23af;
$brand-60: #ef60b7;
$brand-50: #e578b5;
$brand-40: #da84b6;
$brand-10: #60304b;

$gray-90: #fff;
$gray-80: #f5f7fa;
$gray-60: #eceff2;
$gray-40: #c0c9d5;
$gray-20: #6f7d90;
$gray-10: #303d50;
$gray-5: #141d29;

$bg-90: #0c0820;
$bg-80: #161133;
$bg-70: #211b42;
$bg-60: #342b60;
$bg-20: #5b5b7a;
$bg-10: #797993;
$bg-5: #9c9cb4;

$accent-red-90: #b80000;
$accent-red-70: #e00d0d;
$accent-red-50: #eb6060;
$accent-green-90: #109f1e;
