$brand-70: #6077eb;
$brand-60: #8092ef;
$brand-50: #a0aef3;
$brand-40: #bfc9f7;

$gray-90: #141d29;
$gray-80: #303d50;
$gray-60: #6f7d90;
$gray-40: #c0c9d5;
$gray-20: #eceff2;
$gray-10: #f5f7fa;
$gray-5: #fff;

$bg-90: #0e131b;
$bg-10: #f5f7fa;
$bg-5: #fff;

$accent-red-90: #b80000;
$accent-red-50: #eb6060;
$accent-green-90: #109f1e;
