$brand-70: #141d29; // #60eba1;
$brand-60: #303d50; // #80efb0;
$brand-50: #6f7d90; // #a0f3c1;
$brand-40: #c0c9d5; // #bff7d5;

$gray-90: #141d29;
$gray-80: #303d50;
$gray-60: #6f7d90;
$gray-40: #c0c9d5;
$gray-20: #eceff2;
$gray-10: #f5f7fa;
$gray-5: #fff;

$bg-90: #0e131b;
$bg-20: #eceff2;
$bg-10: #f5f7fa;
$bg-5: #fff;

$accent-red-90: #b80000;
$accent-red-70: #e00d0d;
$accent-red-50: #eb6060;
$accent-green-90: #109f1e;
