.container {

}

.table {
  white-space: nowrap;
  text-align: left;
  border-collapse: collapse;
  color: $gray-90;
}

.th {
  padding: 8px 20px 16px;
  color: $gray-10;
  font-size: 18px;
  font-weight: 500;
}

.row {
  cursor: pointer;

  &:nth-child(odd) {

    .td {
      background-color: #100a2a;
    }
  }

  &:hover {

    .td {
      background-color: $bg-80;
    }
  }
}

.td {
  padding: 28px 20px;
  font-size: 18px;
  line-height: 28px;
  border-top: 2px solid $bg-90;
  border-bottom: 2px solid $bg-90;
  background-color: transparent;
  @include basic-transition();

  &:first-child {
    border-radius: 20px 0 0 20px;
  }

  &:last-child {
    border-radius: 0 20px 20px 0;
  }
}
