.content {
  display: grid;
  grid-gap: 100px;
  align-items: center;
  justify-content: center;
  grid-template-columns: 400px 400px;
}

.totalAPY {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 0 22px;
  font-size: 24px;

  b {
    font-weight: 700;
  }
}

.vaults {
  width: 100%;
  font-size: 18px;

  th {
    color: $gray-20;
  }

  th, td {
    padding: 12px 20px;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }
}
