.content {
  display: grid;
  grid-gap: 100px;
  justify-content: center;
  grid-template-columns: 400px 400px;
}

.totalAPY {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 0 22px;
  font-size: 24px;

  b {
    font-weight: 700;
  }
}

.vaults {

}

.vault {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  padding: 10px 22px;
  color: $bg-90;
  font-weight: 700;
  font-size: 18px;
  border-radius: 100px;

  &:first-child {
    margin-top: 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
}
